<?xml version="1.0"?>
<!--
/**
 * Dependency Injection for UI Form and Table in Admin
 *
 * Created for SkiEssentials.com - 2019 - Written by Jeffrey Siegel
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="contentintegration_sites_data_source" xsi:type="string">SkiEssentials\ContentIntegration\Model\ResourceModel\IntegratedSite\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="SkiEssentials\ContentIntegration\Model\ResourceModel\IntegratedSite\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">skiessentials_contentintegration</argument>
            <argument name="resourceModel" xsi:type="string">SkiEssentials\ContentIntegration\Model\ResourceModel\IntegratedSite</argument>
        </arguments>
    </virtualType>
</config>