<?xml version="1.0"?>
<!--
/**
 * Maps Route for Admin
 *
 * Created for SkiEssentials.com - 2019 - Written by Jeffrey Siegel
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="contentintegration" frontName="contentintegration">
            <module name="SkiEssentials_ContentIntegration" />
        </route>
    </router>
</config>